<ion-view title="Messages">
  
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ng-click="newMessage()"></button>
  </ion-nav-buttons>
    
  <ion-content class="message-view-container">
    

    <ion-refresher  on-refresh="refresh()"
                    pulling-text="Pull to refresh..."
                    refreshing-text="Refreshing!"
                    refreshing-icon="ion-loading-c">
                     
    </ion-refresher>
    <!-- TODO: add ion-infinite-scroll to implement scroll down load more -->
    <ion-list>
    	<ion-item ng-repeat="(key, value) in messages" type="item-text-wrap">
    	   
        <div class="message-card">

          <div class="author-avatar">
            <img ng-src="http://localhost:8080/api/users/{{value.author._id}}/profile/avatar">
            <a><strong>{{value.author.firstname+" "+value.author.lastname}}</strong></a>
            <p am-time-ago="value.published"></p>
          </div>

          <div class="message-content">
            <p>{{value.content}}</p>
            
            <p class="status">
              0 Usefuls&nbsp&nbsp&nbsp&nbsp{{value.responses.length}} Comments
            </p>
          </div>

          <div class="buttons">
            
            <button class="icon ion-thumbsup">
              Useful
            </button>

            <button class="icon ion-chatbox" ng-click="checkComment(key)">
              Comment
            </button>

            <button class="icon ion-share">
              Share
            </button>

          </div>
        </div>
      </ion-item>
   	</ion-list>

  </ion-content>
</ion-view>
