      <ion-tabs class="tabs-icon-top tabs-dark tab-controller-bar">
      
        <!-- Tab for Infos -->
        <ion-tab title="Messages" icon="ion-ios7-chatbubble" href="#/tab/messages">
          <ion-nav-view name="tab-messages"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Discussions -->
        <ion-tab title="Discussions" icon="ion-ios7-videocam" href="#/tab/discussions">
          <ion-nav-view name="tab-discussions"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Communities -->
        <ion-tab title="Communities" icon="ion-ios7-people" href="#/tab/communities">
          <ion-nav-view name="tab-communities"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Applications -->
        <ion-tab title="Applications" icon="ion-ios7-paper" href="#/tab/applications">
          <ion-nav-view name="tab-applications"></ion-nav-view>
        </ion-tab>
      </ion-tabs>