<ion-view title="Comments">
   
  <ion-content class="comment-view-container">
    <div class="comment-card">

      <div class="author">
        <img ng-src="http://localhost:8080/api/users/{{message.author._id}}/profile/avatar">
        <a><strong>{{message.author.firstname+" "+message.author.lastname}}</strong></a>
        <p class="status" am-time-ago="message.published"></p>
      </div>

      <div class="message-body">
        <p>{{message.content}}</p>
        <p class="status">
              0 Usefuls&nbsp&nbsp&nbsp&nbsp{{message.responses.length}} Comments
        </p>
      </div>
      
      <div class="buttons">
        <button class="icon ion-thumbsup">
          Useful
        </button>

        <button class="icon ion-share">
          Share
        </button>
      </div>

      <div class="comment" ng-repeat="comment in message.responses">
        <img ng-src="http://localhost:8080/api/users/{{comment.author._id}}/profile/avatar">
        <div class="body">
          <a><strong>{{comment.author.firstname+" "+comment.author.lastname}}</strong></a>
          <p class="content">{{comment.content}}</p>
          <p am-time-ago="comment.published"></p>
        </div>
      </div>
      <div class="decorator"></div>
    </div>
  </ion-content>

  <ion-footer-bar align-title="left" class="comment-input-bar">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Comment..." ng-model="whatsupcomment">
        </label>
        <button class="button button-small button-clear" ng-click="postComment()">
          Send
        </button>

  </ion-footer-bar>
</ion-view>
