@import url(http://fonts.googleapis.com/css?family=Open+Sans);
a {
	text-decoration: none;
	color: #576B8A;
}

/* @group Tab Bar View */

a.tab-item {
    background-color:#282B34 !important;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
a.tab-item-active {
    	background-color:#232323 !important;
    }
ion-nav-bar.nav-bar {
		background-color: #282B34 !important;;
}

/* @end */

/* @group Login View */
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

html { width: 100%; height:100%; overflow:hidden; }

.login { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 35%;
}


.login input{ 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	padding: 10px;
}
.login input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.login .logo{
	margin-bottom: 10%;
}
::-webkit-input-placeholder {
	color: #555  !important;
}
/* @end */

/* @group Message View */

ion-content.message-view-container {
	background-color: #F0F1F5;
}

ion-item {
	padding: 0 !important; 
	margin: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
}

ion-item .message-card {
	background-color: #F9F9F9;
	margin: 10px 10px 20px;
	border: 1px solid #c6c5c5;
	opacity: 1;
	-moz-box-shadow: 1px 1px 3px #aeacac;
	box-shadow: 1px 1px 3px #aeacac;
	border-radius: 3px;
}

ion-item .message-card .author-avatar {
	display: block;
	padding: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

ion-item .message-card .author-avatar img{
	float: left;
	width: 40px;
	padding-right: 3px;
	margin-right: 5px;
}
ion-item .message-card .author-avatar p {
	font-size: 12px;
	color: #a8a7a7;
}

ion-item .message-card .message-content {
	display: block;
	color: #000000;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 500;
	padding-left: 10px;
	padding-right: 10px;
}
ion-item .message-card .message-content p{
	overflow: auto;
	text-overflow: inherit;
	white-space: normal; 
}

ion-item .message-card .message-content .status {
	font-size: 10px;
	color: #a8a7a7;
}

ion-item .message-card .buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: horizontal;
	-moz-flex-direction: horizontal;
	-ms-flex-direction: horizontal;
	flex-direction: horizontal;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	background-color: #EEEEEF;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	align-items: center;
	border-top: 1px dashed #d3d2d2;
}

ion-item .message-card .buttons button{
	margin-left: auto;
	border-color: transparent;
	background: none;
	box-shadow: none;
	text-align: justify;
	font-size: px;
	line-height: 30px;
	color: #576B8A;
	position: relative;
	margin-right: auto;
}

ion-item .message-card .buttons button:active{
	opacity: 0.4;
}
/* @end */

/* @group Comment View */
ion-footer-bar.comment-input-bar {
	background-color: #282B34 !important;
}

ion-footer-bar.comment-input-bar label{
	background-color: white;
}

ion-footer-bar.comment-input-bar input {
	background: transparent;
	font: 100% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
ion-footer-bar.comment-input-bar button {
	color: white !important;
	font-weight: 400 !important;
}
/* @end */


.comment-view-container {
	background-color: #F0F1F5;
}

.comment-card{
	background-color: #F9F9F9;
	border: 1px solid #c6c5c5;
	opacity: 1;
	-moz-box-shadow: 1px 1px 3px #aeacac;
	box-shadow: 1px 1px 3px #aeacac;
	border-radius: 3px;
	margin: 10px;
}
.comment-card .author{
	display: block;
	padding: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.comment-card .author img{
	float: left;
	width: 40px;
	padding-right: 3px;
	margin-right: 5px;
}
.comment-card .author p{
	font-size: 12px;
	color: #a8a7a7;
}
.comment-card .message-body p{
display: block;
color: #4f4f4f;
font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
font-weight: 500;
padding-left: 10px;
padding-right: 10px;
overflow: auto;
text-overflow: inherit;
white-space: normal;
	margin-top: -10px;
}

.comment-card .message-body .status {
font-size: 10px;
color: #a8a7a7;
}

.comment-card .buttons {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-webkit-flex-direction: horizontal;
-moz-flex-direction: horizontal;
-ms-flex-direction: horizontal;
flex-direction: horizontal;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
-moz-justify-content: center;
justify-content: center;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-ms-text-justify: distribute-all-lines;
text-justify: distribute-all-lines;
background-color: #EEEEEF;
align-items: center;
border-top: 1px dashed #d3d2d2;
}

.comment-card .buttons button{
margin-left: auto;
border-color: transparent;
background: none;
box-shadow: none;
text-align: justify;
font-size: px;
line-height: 30px;
color: #576B8A;
position: relative;
margin-right: auto;
}

.comment-card .buttons button:active{
opacity: 0.4;
}

.comment-card .comment {
	display: block;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #EEEEEF;
	border-top: 2px groove #ffffff;
	padding: 10px;
}


.comment-card .comment img {
	width: 40px;
	padding-righdt: 3px;
	margin-right: 5px;
	float: left;
}
.comment-card .comment .body {
	display: inline;
	margin-top: 0;
}

.comment-card .comment .body p{
font-size: 12px;
color: #a8a7a7;
	margin-bottom: 0;
}

.comment-card .comment .body .content{
font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
font-weight: 500;
color: #4f4f4f;
overflow: auto;
text-overflow: inherit;
white-space: normal;
}
.comment-card .comment {
	padding-bottom: 0;
}


.comment-card .decorator {
	height: 3px;
	background-color: #EEEEEF;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px dashed #d3d2d2;
}
